@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7FEFF;
  --foreground: #213233;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}